<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar" margin-top=20px>
        <li><a href="/intro">Introduction</a></li>
        <li><a href="/basicsyntax">Basic Syntax</a></li>
        <li><a href="/api">API Integration</a></li>
        <li class="active"><a href="/interactive">Interactive Charts<span class="sr-only">(current)</span></a></li>
        <li><a href="/interactiveapi">Interactive API Example</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Interactive Charts</h1>
      <p>Now that we have charts that display information, what if we want to modify them? In this section we will
      briefly look at how to create a chart that can be modified via a pair of buttons. One button will decrease
      the size of our ColumnChart, while the other will grow it. We will also briefly touch on how these actions
      can be animated, to provide a slick look to the UI.</p>
      
      <h2 class="page-header">The Interactive Chart</h2>
      <div id="interactive_chart"></div>
      <button id="button_down">Down</button>
      <button id="button_up">Up</button>
      <br />
      <p><a href="/interactiveapi">Interactive API Example</a><p>
    </div>
  </div>
</div>
