<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar" margin-top=20px>
        <li class="active"><a href="#">Introduction <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Basic Syntax</a></li>
        <li><a href="#">Basic Example</a></li>
        <li><a href="#">API Integration</a></li>
        <li><a href="#">Chart Manipulation</a></li>
        <li><a href="#">Integrated Example</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Introduction</h1>
      <p> blah blah blah </p>
      <h2 class="sub-header">This is something I want to talk about</h2>
      <p> blah blah blah </p>
    </div>
  </div>
</div>